@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-container {
    @apply container space-y-12 py-8 sm:space-y-16 sm:py-12;
  }
}

.gradient-image,
.gradient-text {
  background: linear-gradient(to right, #f2c593, #8a3282);
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blurhash-container canvas {
  border-radius: 5px;
}
